

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
} 





.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logindiv{
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .loginimg{
    width: 350px;
    min-height: 550px;
    margin: auto;
    background-image: url('../LoginComponent/sagar.png'); 
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 15px black;
}
.screen{
    position: absolute;
    top: 22%;
    left: 10px;
    text-align: center;
} 
.screen h2{
    font-size: 35px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    margin: 10px 0px;
    
}
.screen span{
    font-size: 25px;
}

.openlogin{
    position: absolute;
    bottom: 10%;
    right: 20%;
}
.openlogin button{
    padding: 10px;
}
.dummy form{
}

form .login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 5px;
    padding-left: 24px;
    font-weight: 520;
    width: 85%;
    transition: .2s;
    font-size: 18px;
    outline: none;
    margin-top: 15px;
}
.radio-label {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
    margin-top: 14px;
}

.radio-input {
    margin-right: 5px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.radio-input:checked + label {
    color: #007BFF; /* Change color when selected */
}

.radio-input:focus {
    outline: none;
}

.radio-feild{
    margin-top: 25px;
}
.login__field{
    margin-top: 10px ;
}
.radio-feild label{
    font-size: 18px;
    color: black;
}

.login__field button{
    margin: 20px auto 0px;
    padding: 6px;
    font-size: 18px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px black;
}

/* validation */
.login__field.error .login__input,
.radio-field.error .radio-input {
    border-bottom: 2px solid red;
}

.radio-field {
    margin-top: 10px;
}

.radio-label {
    margin-right: 10px;
}
