
.loginfront-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginfront{
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .loginfrontimg{
    width: 350px;
    min-height: 550px;
    margin: auto;
    background-image: url('../LoginComponent/sagar.png'); 
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 6px black;
}
.dummyy{
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
} 
.dummyy h2{
    font-size: 35px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    margin: 10px 0px;
    
}
.dummyy span{
    font-size: 25px;
}
.welcomeimg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.openlogin{
    position: absolute;
    bottom: 10%;
    right: 20%;
}
.openlogin button{
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}